{% comment %}
  Product Customizer Block
  Add this block to your product template to enable customization
{% endcomment %}

<div class="product-customizer-block">
  {% render 'product-customizer' %}
</div>

{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "templates": ["product"],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_preview",
      "label": "Show preview thumbnail",
      "default": true
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "primary"
    }
  ]
}
{% endschema %}